@charset "UTF-8";
        html{
            font-family: Arial, Helvetica, sans-serif;

        }

        body{
            margin: 0;
            padding: 0;
            background-color: #000b0d86;
            
        }

        .skills{
            
            width: 500px;
            padding: 40px;
            
            border-radius: 20px;
            /*background-color: #fff;*/
            box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.342);
        }

        .skills ul{
            list-style: none;
                        
        }

        .skills ul li{
            margin: 20px 0;
        }

        .skills .barras{
            background-color: #ccc;
            display: block;
            height: 20px;
            border-radius: 20px;
            position: relative;

        }

        .barras > span{
            height: 20px;
            background: linear-gradient(to right, #fe4701, #ff0054);
            position: absolute;
            border-radius: 20px;
        }

        .html{
            width: 80%;
            animation: html 2s;
        }

        .css{
            width: 50%;
            animation: css 2s;
        }

        .py{
            width: 30%;
            animation: py 2s;
        }

        @keyframes html {
            0%{
                width: 0%;
            }
            100%{
                width: 80%;
            }
            
        }
        @keyframes css {
            0%{
                width: 0%;
            }
            100%{
                width: 50%;
            }
            
        }
        @keyframes py {
            0%{
                width: 0%;
            }
            100%{
                width: 30%;
            }
            
        }

        h1{
            text-align: center;
        }

        p{
            text-align: justify;
            margin: 5px;
        }

        
        header{
            margin: 0;
            padding: 0;
        }

        header img{
            width: 80%;
            height: auto;
            border-radius: 50%;
            
        }
        
        .dados li{
            margin: 0;
            padding: 0;
            text-decoration: none;      /*tirando decoração da lista*/
            text-align: left;       
            list-style: none;           
        }

        .dados a{
            color: black;
        }

        section{
            margin-left: 25%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        article{
            padding: 10px;
            margin: 10px;
            background-color: #1C8394;
            flex: 1 200px;
        }

        article:nth-of-type(3){
            flex: 1 80%;
        }
        

        .principal{
           
            background-color: #154B52;
            margin: 0;
            padding: 0;
            width: 25%;
            position: fixed;
            height: 100%;
            
        }

       
        .galeria{    /*Constroi area retangular ao redor da imagem*/
    
            margin: 0;
            padding: 5px;
            border: 1px solid #ccc;
            display: inline-block;
            width: 250px;
            

        }

        .galeria img{
    
            width: 100%;
            height: auto;
            opacity: 0.2; /*"nevoeiro" para visualisar 0.2 (20%) da imagem*/
            /*filter para IE8 e anteriores*/
            filter: alpha(opacity=20);
        }

        
        .galeria:hover{ /*ao passar o mouse, o pixel das bordas ira engrossar e ficar um pouco mais escura*/
            border: 2px solid #777;

        }
        
        .galeria img:hover{
        opacity: 1; /*deixa a imagem sem opacidade ao passar o mouse*/
        }

        
        

        @media(min-width: 601px) and (max-width: 1268px){/*Configurações para a tela entre 601px ~ 1268px*/

            section{
            margin-left: 25%;
            display: flex;
            flex-direction: column;         /*colocando o display-flex em coluna*/
        }

        article{
            padding: 10px;
            margin: 10px;
            
            flex: 1 200px;
        }
        }

        
       @media (max-width: 600px){/*configurações para mobile: 600px*/
        section{
            margin-top: 350px;      /*Deixando os dados "header" fixados no top da pagina no tamanho de 350px*/
            margin-left: 0;/*fixado no canto esquerdo superior*/
            display: flex;          /*Tipo de display*/ 
            flex-direction: column;     /*organizado em coluna*/
            
        }


        header img{         /*diminuindo tamanho da imagem*/
            margin-top: 0;
            width: 34%;
            height: auto;
        }

        .principal{
            display: block;
            position: absolute; /*Colocando a Div class="principal" (menu) rolando junto com a pagina*/
            top: 0; /*tirando a margem do topo*/
            left: 0; /*tirando a margem da esquerda*/
            width: 100%;    /*largura em 100%*/
            height: 350px;  /*altura em 350px*/
           
        }

        .principal h1{  /*diminuindo tamanho do titulo 1 contido na classe principal*/
            font-size: large;
        }

        .galeria{   /*diminuindo tamanho das imagens na div = galeria*/
            margin: auto;
            display: inline-block;
            width: 130px;;
        }
       
       }



        
 